<div class="container">
    <div class="arrowPrev" (click)="onPrevClick()"></div>
    <div class="block" *ngIf="dataNow">
        <div class="delete" [ngClass]="{ disabled: !current }" (click)="onDel()"></div>

        <img class="image" [src]="
        'http://openweathermap.org/img/wn/' +
        dataNow.weather[0].icon +
        '@2x.png'
      " />
        <h2 class="city">{{ dataNow.name }}</h2>
        <h2 class="temp">{{ dataNow.main.temp | int }} °</h2>
        <p class="weather">{{ dataNow.weather[0].main }}</p>
    </div>
    <div class="arrowNext" (click)="onNextClick()"></div>
</div>