.container {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    .image {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .city {
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 300;
        text-align: center;
    }
    .temp {
        color: white;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 500;
        text-align: center;
    }
    .weather {
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 300;
        text-align: center;
    }
    .block {
        width: 250px;
        height: 250px;
        background-color: rgba(87, 87, 87, 0.27);
        margin: 0 auto 30px auto;
        border-radius: 30px;
        position: relative;
        .delete {
            width: 30px;
            height: 30px;
            background: url("../../../../assets/img/del.png") center center/cover no-repeat;
            border: none;
            position: absolute;
            right: 10px;
            top: 10px;
            opacity: 0.5;
            z-index: 3;
            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
        .disabled {
            display: none;
        }
    }
    .arrowNext {
        width: 26px;
        height: 39px;
        background: url("../../../../assets/img/next.png") center center/cover no-repeat;
        cursor: pointer;
        margin-top: 100px;
    }
    .arrowPrev {
        width: 26px;
        height: 39px;
        background: url("../../../../assets/img/prev.png") center center/cover no-repeat;
        cursor: pointer;
        margin-top: 100px;
    }
}