<div class="window" [ngStyle]="{
    background: data[current]
      ? 'url(' +
        '../assets/img/' +
        data[current].currentWeatherData.weather[0].icon +
        '.jpg' +
        ') center center/cover no-repeat'
      : 'black'
  }">
    <div class="alert_block">
        <app-alert [alertMessages]="alertMessages" [index]="i" *ngFor="let alertMessage of alertMessages; let i = index"></app-alert>
    </div>
    <app-city-search [data]="data" [current]="current" (newCity)="addCity($event)"></app-city-search>
    <app-dots [data]="data" [current]="current"></app-dots>
    <app-slider [data]="data" [current]="current" (onNext)="nextSlide()" (onPrev)="prevSlide()"></app-slider>
</div>