form {
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    position: relative;
    width: 250px;
    height: 40px;
    .input_text {
        width: 250px;
        height: 40px;
        background-color: rgba(87, 87, 87, 0.27);
        border-radius: 30px;
        border: none;
        font-size: 24px;
        padding-left: 20px;
        color: #fff;
        &:visited,
        &:focus,
        &:active,
        &:hover {
            outline: 0 none !important;
        }
    }
    .input_button {
        height: 40px;
        width: 40px;
        background-color: #fff;
        border-radius: 30px;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        background: url("../../../assets/img/find.png") center center/cover no-repeat;
        cursor: pointer;
    }
}

.ng-untouched {}

.ng-touched,
.ng-pristine,
.ng-valid {
    border: none;
}